body {
  background: #fff repeat 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 100%;
  color: #666;
}

h1 {
   font: 3.25vw "Open Sans", sans-serif;
   text-transform: uppercase;
   color: #444;
   font-weight: 600;
   line-height: 1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p, a {
  font-size: 14px;
  line-height: 18px;
}

.or-divider {
  display: flex;
  align-items: center;
  margin-top: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: rgb(146, 151, 163);
}

.horizontal-line {
  display: inline-block;
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border: 0;
  border-bottom: 1px solid #c8c7cc;
}

.or-divider span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}
