body {
  background: #fff repeat 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 100%;
  color: #666;
}

h1 {
   font: 3.25vw "Open Sans", sans-serif;
   text-transform: uppercase;
   color: #444;
   font-weight: 600;
   line-height: 1;
}

p, a {
  font-size: 14px;
  line-height: 18px;
}
