html, body, section, div, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: inherit;
}
