footer {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495756129/footer_bg_t0ebyc.png);
  padding: 10px;
  color: white;

  display: flex;
  justify-content: space-around;
}

footer .link-header {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
}

footer .link {
  color: rgb(157, 160, 162);
  font-size: 12px;
  text-decoration: none;
  cursor: text;
}

footer ul {
  display: inline-block;
}

footer img {
  display: none;
}
