footer {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495756129/footer_bg_t0ebyc.png);
  padding: 10px;
  color: white;

  display: flex;
  justify-content: center;
}

.links-container {
  display: flex;
}

footer .link-header {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
}

footer .link {
  color: rgb(157, 160, 162);
  font-size: 12px;
  text-decoration: none;
  cursor: text;
}

footer ul {
  display: inline-block;
}

footer img {
  display: none;
}

.app-links {
  display: flex;
}

.app-link-header {
  margin-left: 12px;
}

.app-icon {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 22px;
  margin-left: 10px;
}

.record-icon {
  background-image: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app1_ac9eiw.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.endo-icon {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app2_pxoy3q.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mfp-icon {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app3_i1cpoc.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mmf-icon {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app4_htytcs.png);
  background-repeat: no-repeat;
  background-size: contain;
}
