footer {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495767089/footer_bg_xq5qpx.png);
  background-repeat: repeat;
  padding: 10px;
  color: white;
  position: relative;
  display: flex;
  justify-content: space-around;

  .links-container {
    margin-left: 8vw;
  }

  .links-col {
    width: 170px;
  }

  .link-header {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .link {
    color: rgb(157, 160, 162);
    font-size: 12px;
    text-decoration: none;
    cursor: text;
  }

  ul {
    display: inline-block;
  }
}

.phone-img {
  position: absolute;
  top: -40%;
  // top: -47px;
  left: 10%;
  // left: 125px;
  width: auto;
  height: 200px;
}

.app-links-container {
  margin-right: 7vw;
}
.app-links {
  display: flex;
}

.app-link-header {
  margin-left: 12px;
}

.app-icon {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 22px;
  margin-left: 10px;
}

.record-icon {
  background-image: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app1_ac9eiw.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.endo-icon {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app2_pxoy3q.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mfp-icon {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app3_i1cpoc.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mmf-icon {
  background: url(https://res.cloudinary.com/nathanpli/image/upload/v1495758234/app4_htytcs.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.copyright-text {
  margin-right: 5%;
}

.copyright-link {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgb(102, 102, 102);
  font-size: 10px;
  text-decoration: none;
}

.copyright-link-noborder {
  border: none;
}
