// Hero image panel-----------------------------------------
#homepage-hero {
  position: relative;

  width: 100vw;
  height: 70vh;
  min-height: 275px;
  background-image: url(http://res.cloudinary.com/nathanpli/image/upload/v1495227712/hero_img_btdzi2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-hero .hero-img-content {
  height: 100%;
  position: absolute;
  top: 10%;
  left: 50%;

  display: flex;
  flex-direction: column;
}

#homepage-hero h1 {
  color: white;
  font-size: 3.25vw;
  line-height: 1.2;
  font-weight: 600;
}

#homepage-hero p {
  color: white;
  margin-top: 10px;
}

#homepage-hero .button {
  padding: 9px 18px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  font: 16px "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

#homepage-hero #signup {
  margin-top: 5%;
}

#home-sign-up-btn {
  background: linear-gradient(to bottom, #4499db 5%, #177ed7 100%);
}

#home-sign-up-btn:hover {
  background: linear-gradient(to bottom, #3f92c6 5%, #0074bc 100%);
}

#homepage-hero .login-prompt {
  text-align: right;
  color: #fff;
  font-size: 15px;
  font-weight: 600;

  margin: auto 12% 12% 20%;
}

#homepage-hero .login-prompt a {
  font-size: 13px;
}

#homepage-hero #home-login-btn {
  margin-left: 5px;
  padding: 5.5px 18px;
  background: linear-gradient(to bottom, #5b5b5b 5%, #454545 100%);
}

#home-login-btn:hover {
  background: linear-gradient(to bottom, #4f4f4f 5%, #222222 100%);
}

#homepage-hero .terms-of-service {
  font-weight: normal;
  text-align: right;
}

#homepage-hero .terms-of-service p {
  display: inline-block;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-top: 6%;
  font-size: 10.5px;
  white-space: nowrap;
}

#homepage-hero .terms-of-service a {
  font-size: 10.5px;
  white-space: nowrap;
}

// Temp Panels (will replace later)-------------------------
#homepage-features {
  width: 100vw;
  height: 50vh;
  min-height: 250px;
  background-image: url(http://res.cloudinary.com/nathanpli/image/upload/v1495410800/temp_panel1_lstf54.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-cities-list {
  width: 100vw;
  height: 100vh;
  min-height: 275px;
  background-image: url(http://res.cloudinary.com/nathanpli/image/upload/v1495410803/temp_panel2_entvjd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
