.login-form-container {
  background-color: #f0f0f0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  margin-top: -10%;
}

.login-form-container p {
  font-size: 10px;
  text-align: right;
}

.login-form-container a {
  font-size: 12px;
  text-transform: uppercase;
};

.login-form-container .or-divider {
  display: flex;
  align-items: center;
  margin-top: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: rgb(146, 151, 163);
}

.login-form-container .horizontal-line {
  display: inline-block;
  height: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border: 0;
  border-bottom: 1px solid #c8c7cc;
}

.login-form-container .or-divider span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}

.login-form-container #or-divider-text {
  margin: 0 10px;
}

.login-form-container .login-input {
  display: block;
  padding: 0 20px;
  width: 280px;
  border: 1px solid #d3d6dc;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #222628;
  font-size: 14px;
  line-height: 1.21;
  height: 44px;
  background: transparent;
}

.login-form-container .login {
  width: 325px;

  background-color: rgb(151, 191, 17);
  border: none;
  border-radius: 2px;
  padding: 12px 15px;

  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

.login-form-container .guest-login {
  background-color: #3b5998;
}
