nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 50px;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {

}

.nav-logo {
  padding: 100px;
  background: transparent url(https://res.cloudinary.com/nathanpli/image/upload/v1495753340/my_logo_hd_ldgcvc.png) center center no-repeat;
  background-size: 80%
}

.nav-login-signup {
  margin-right: 5%;
}
